!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/favicon.png", :rel => "shortcut icon"}
    %title Genidu

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
  %body
    %section#login
      .container
        .row
          .col-xs-12
            .form-wrap
              .row.text-center
                = link_to root_path do
                  = image_tag "chip.png"
              %h1 Dashboard login
              %form#login-form{:action => "javascript:;", :autocomplete => "off", :method => "post", :role => "form"}
                .form-group
                  %label.sr-only{:for => "email"} Email
                  %input#email.form-control{:name => "email", :placeholder => "youremail@example.com", :type => "email"}/
                .form-group
                  %label.sr-only{:for => "key"} Password
                  %input#key.form-control{:name => "key", :placeholder => "password", :type => "password"}/
                .checkbox
                  %span.character-checkbox{:onclick => "showPassword()"}
                  %span.label Show password
                %input#btn-login.btn.btn-custom.btn-lg.btn-block{:type => "submit", :value => "Log in"}/
              %a.forget{"data-target" => ".forget-modal", "data-toggle" => "modal", :href => "javascript:;"} Forgot your password?
              %hr/
          / /.col-xs-12
        / /.row
      / /.container
    .modal.fade.forget-modal{"aria-hidden" => "true", "aria-labelledby" => "myForgetModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            %h4.modal-title Recovery password
          .modal-body
            %p Type your email account
            %input#recovery-email.form-control{:autocomplete => "off", :name => "recovery-email", :type => "email"}/
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-custom{:type => "button"} Recovery
        / /.modal-content
      / /.modal-dialog
    / /.modal
    %footer#footer
      .container
        .row
          .col-xs-12
            %p Genidu, Inc. © 2014

    = javascript_include_tag 'application'
